* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.navigation {
  height: 100px;
  background: linear-gradient(to bottom, #FE77A6 80% , #674d8e 20% );
}

.brand 
{
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 55px;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-left: -30px;
}

.brand img {
  width: 120px;
  height: 80px;
  float: left;
  margin-left: -3rem;
}

.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
  margin-left: -3rem;
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 100px;
}

nav ul li {
  float: left;
  position: relative;
  margin-right: rem;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 55px;
  color: #fff;
  background: #262626;
  text-decoration: none;
}

nav ul li a {
  background: transparent;
  color: #FFF;
  display: block;
  line-height: 60px;
  position: relative;
  margin-top: 10px;
  font-size: 18px;
  margin-right: 1rem;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  color: #2581DC;
  /* color: #ffffff; */
}

.navbar-dropdown li a {
  background: #2581DC;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' \025BE';
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.navbar-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  background: #fff;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  height: 55px;
  width: 70px;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    /* padding: 55px 0 15px; */
    padding: 5px 30px;
    padding-left: 50px;
  }

  nav ul {
    margin-top: 5px;
    display: none;
    background-color: black;
  }

  nav ul li {
    float: none;
    width: 100%;
    margin: none;
    padding: none;
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px;
    background: #262626;
  }

  nav ul li ul li a {
    padding-left: 30px;
  }

  .navbar-dropdown {
    position: static;
  }

  @media screen and (min-width:800px) {
    .nav-list {
      display: block !important;
    }
  }

  #navbar-toggle {
    position: absolute;
    left: 18px;
    top: 15px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;  
  }

  #navbar-toggle span,
  #navbar-toggle span:before,
  #navbar-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 30px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }

  #navbar-toggle span:before {
    top: -10px;
  }

  #navbar-toggle span:after {
    bottom: -10px;
  }

  #navbar-toggle.active span {
    background-color: transparent;
  }

  #navbar-toggle.active span:before,
  #navbar-toggle.active span:after {
    top: 0;
  }

  #navbar-toggle.active span:before {
    transform: rotate(45deg);
  }

  #navbar-toggle.active span:after {
    transform: rotate(-45deg);
  }
}
.carousel-item
{
  width: 100%;
}
.carousel-item>img {
  width: 100%;
  height: 75vh;

}



/* products page */
.Heading-1 {
  margin: 9rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.outer-box {
  width: 300px;
  height: 300px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border-radius: 1rem;
}

.inner-box {
  width: 250px;
  height: 250px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  position: relative;
  transition: all 0.3s ease;
  z-index: 1;
  cursor: pointer;
}

.inner-box:hover {
  transform: scale(1.1);
  z-index: 2;
}

.text-property {
  list-style-type: none;
  padding: 0;
  position: relative;
  right: 1rem;
}

.text-property ul {
  padding: 0;
}

.text-property li {
  font-size: 18px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 10px; */
  background-color: #aea6a6;
}

.button-container ul {
  width: fit-content;
  background-color: #aea6a6;
  list-style: square;
  padding: 0;
  margin-left: -16rem;
  
}

.button-container hr {
  margin: 0;
  padding: 0;
  width: 30%;
  border: 1px solid rgb(121, 119, 119);
}

.button-container button {
  /* margin: 5px; */
  border: none;
  background-color: transparent;

}

butto:focus{
  border: none;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
}

.product-card {
  text-align: center;
  margin: 10px;
  /* padding: 10px; */
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  max-width: 40%;
  height: fit-content;
  box-sizing: border-box;
}

.product-card img {
  max-width: 70%;
  height: 80%;
  border-radius: 5px;
}

.product-description {
  width: fit-content;
  text-align: center;
  /* margin-left: 4rem; */
}

@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }

  .product-card {
    max-width: 100%;
  }
}



.hover-div {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  transition: filter 0.3s;
}

.hover-div:hover {
  filter: blur(4px);
}

.icons-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.icon {
  margin: 0 10px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.product {
  position: relative;
  width: 30%;
  max-height: 20px;
  margin: 4rem auto;
  margin-left: 4rem;
}

.product-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.cards {
  flex: 0 0 80%;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 10px;
}

.card img {
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.next {
  position: absolute;
  background-color: #f1f1f1;
  border: none;
  color: #000;
  padding: 5px 5px;
  cursor: pointer;
  right: 6rem;
}


.next {
  right: -40rem;
}


/* body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; } */

p {
  
  color: #efdddd;
  font-weight: 300;

}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a,
a:hover {
  text-decoration: none !important;
}



h2 {
  font-size: 20px;
}

.bg-left-half {
  position: relative;
}

.bg-left-half:before {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -1;
  content: "";
  left: 0;
  top: 0;
  background-color: #f8f9fa;
}

.media-29101 img {
  margin-bottom: 20px;
}

.media-29101 h3 {
  font-size: 18px;
  font-weight: 900 !important;
}

.media-29101 h3 a {
  color: #6c757d;
}

.owl-2-style .owl-nav {
  display: none;
}

.owl-2-style .owl-dots {
  text-align: center;
  position: relative;
  bottom: -30px;
}

.owl-2-style .owl-dots .owl-dot {
  display: inline-block;
}

.owl-2-style .owl-dots .owl-dot span {
  display: inline-block;
  width: 15px;
  height: 3px;
  border-radius: 0px;
  background: #cccccc;
  -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  margin: 3px;
}

.owl-2-style .owl-dots .owl-dot.active span {
  background: #007bff;
}

.owl-2-style .owl-dots .owl-dot:active,
.owl-2-style .owl-dots .owl-dot:focus {
  outline: none;
}


@media (max-width: 575.98px) {
  .brand img{
    width: 100px;
    height: 80px;
    margin-left: 20px;
  }
 

}



#foot
{
    justify-content: space-between;
    display: flex;
    padding: 5px 70px;
}
.foot2 ul li i 
{
  color: #007bff;
}


/* 
@media (max-width: 767px) 
{
 .main_footer
 {
     background-color: #333;
 }
 
  footer 
  {
     background-color: #333;
  }
  #foot {
    flex-direction: column;
    align-items: center; 
    padding: 20px;
    
   
  }

  .foot2 
  {
    text-align: center;
    margin-top: 20px; 
  }

  #foot3 {
    margin-top: 20px; 
    text-align: center; 
  }

  .b_part {
    background-color: #333; 
 
  
    padding: 10px; 
    text-align: center; 
  }

  .foot2 ul li i {
    color: #007bff; 
  }
}
  */
